body {
  background: linear-gradient(to right, #141e30, #243b55);
  color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
}

.jumbotron-fluid {
  background-color: #2d2f33;
  color: #e2dd31;
  margin-left: 2%;
  margin-right: 2%;
  height: 150vh;

}

.jumbotron-fluid h1:hover {
  color: #85c639;
}

.jumbotron-fluid h4:hover {
  color: #85c639;
}

.jumbotron-fluid h5 {
  color: #9e8b24;
}

.container video {
  margin-left: 2%;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn {
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.d-flex {
  display: flex;
  gap: 20px;
  /* Space between trailer and details */
}

.trailer iframe {
  width: 100%;
  max-width: 500px;
  /* Adjust trailer width */
  height: 400px;
  /* Adjust trailer height */
}

.movie-details {
  flex: 1;
  /* Allow details to take remaining space */
  max-width: 500px;
}


.page-footer {
  background-color: black;
  color: white;
}